PORT=3000
MONGODB_URI=
CLERK_SECRET_KEY=CLERK_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=gh
STRIPE_WEBHOOK_SECRET=dfghgj
RAZORPAY_KEY_ID=afgh
RAZORPAY_KEY_SECRET=dfgdhjg
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
CLIENT_URL=
